.container {
    z-Index: 1000;

    .glossaryButton {
        position: absolute;
        top: 64px;
        right: 0;
        width: 8px;
        min-width: unset;
        overflow-wrap: anywhere;
        background: green; 
        
        &:hover { 
            background-Color: #33691E;
        }

        &.open{
            right: 400px;
            transition: 225ms;
        }
    }
}