.MuiLinearProgress-root {
    border-radius: 999px;
    height: 20px !important;
    background-color: lightgrey !important;

}

.MuiLinearProgress-bar1 {
    &.bad {
        background-color: #E5484D;
    }
    &.close {
        background-color: #F5A524;
    }
    &.good {
        background-color: #22C55E;
    }
}