@media screen and (max-width: 1650px) {
    Div.rightContainer {
        top: calc(50% - 300px);
    }

    Div.mainPage {
        max-width: 1200px !important;
        padding-top: 12px;
    }
}

 .financePageButton {
    align-items: anchor-center;
    background: #43A047;
    border-radius: 999px;
    color: #fff;
    display: flex;
    flex-direction: row;
    float: right;
    font-weight: 700;
    height: 44px;
    padding: 0 18px;
    text-decoration: unset;

    &:hover {
        background: #388E3C;
        animation: none;
    }
}