.navigationBar {
    height: 48px;
    width: 100%;

    .navigationButton {
        border-radius: 999px;
        font-size: 16px;
        height: 48px;
        margin-right: 16px;
        padding: 0;
        width: 180px;
    }

    .active {
        background-color: #43A047;
    }
}

.pageContent {
    display: flex;
    height: calc(100vh - 64px);
}