body {
    margin: unset;
    font-family: "roboto";
}

.navigationBar {
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    gap: 8px;
    height: 48px;
    margin: 8px 0 8px;
    padding: 0 24px 6px;
    width: 100%;

    .navLogo {
        color: #43A047;
        cursor: pointer;
        font-size: 18px;
        font-weight: 700;
        margin-right: 16px;

        &:hover {
            color: #33691E;
        }
    }
    .navigationButton {
        border-radius: 999px;
        font-size: 16px;
        height: 48px;
        margin-right: 16px;
        padding: 0;
        width: 180px;
    }

    .active {
        background-color: #43A047;

        &:hover {
            background-color: #388E3C;
        }
    }
}

.pageContainer {
    display: flex;
    height: calc(100vh - 95px);
    padding: 8px;
}